<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <div class="container">

        <%- include('../partials/header') %>

        <section>
            <h2><%= message %> <%= people %></h2>
            <p><%= article %></p>
        </section>
    </div>

</body>

</html>